@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&display=swap');

.contact-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.contact-header {
    text-align: center;
    padding-bottom: 20px;
}

.contact-header h2 {
   font-size: 2.5rem;
   font-family:"Oswald", sans-serif; 
   margin: 1rem;
            
}

.contact-header p {

    font-size: 1.2em;
    color: #666;
}

.contact-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-details {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.contact-details p {
    font-size: 1em;
    margin: 10px 0;
    margin-bottom: 1rem;
}
span{
    font-weight: 600;
}
.contact-details i {
    font-size: 1.5rem;
    color: #e76f51;
    margin-right: 10px;
}

.contact-details a {
    text-decoration: none;
    color: #666;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-details a:hover {
    text-decoration: underline;
}

.map {
    flex: 1;
    min-width: 300px;
    height: 300px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
    }

    .map {
        height: 300px;
    }
}