/* navbar.css */
nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background:#27283bc5;
    z-index: 2;
}

nav .logo a {
    color: #f8f9fa;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0.5rem;
    margin-right: 2rem;
}

nav .nav-links li {
    margin-left: 4em;
}

nav .nav-links a {
    color: #f8f9fa;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav .nav-links a:hover {
    color: #ff6f61;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: #f8f9fa;
    margin: 4px;
    border-radius: 3px;
    
}
@media (max-width: 768px) {
    
    nav .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 60px;
        left: 0;
    }

    nav .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        padding-right: 3rem;
        
    }
    .hamburger span {
        background: #ffda61;
        
    }

}
